<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<div class="login-container">
  <h1>Login</h1>
  <form id="loginForm" action="/account/login" method="post">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="account_email" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="account_password" required>
    </div>
    <div class="form-group">
      <button type="submit">Login</button>
    </div>
  </form>
  <div class="register-link">
    <p>No account? <a href="/account/register">Sign-up</a></p>
  </div>
</div>
