<%- messages() %>
<div class="register-container">
  <h1><%= title %></h1>

  <form id="registerForm" action="/account/register" method="post">
    <div class="form-group">
      <label for="account_firstname">First Name:</label>
      <input type="text" id="account_firstname" name="account_firstname" required>
    </div>
    <div class="form-group">
      <label for="account_lastname">Last Name:</label>
      <input type="text" id="account_lastname" name="account_lastname" required>
    </div>
    <div class="form-group">
      <label for="account_email">Email:</label>
      <input type="email" id="account_email" name="account_email" required>
    </div>
    <div class="form-group">
      <label for="account_password">Password:</label>
      <input type="password" id="account_password" name="account_password" required>
      <div class="password-requirements">
        Password must be:
        <ul>
          <li>at least 12 characters</li>
          <li>include 1 capital letter</li>
          <li>include 1 number</li>
          <li>include 1 special character</li>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <button type="submit">Register</button>
    </div>
  </form>
</div>
